$fontUrl: 'https://fonts.googleapis.com/css?family=Cousine:400,700|Lora:400,700';

.mono {
  font-family: Cousine, monospace;
}

.serif {
  font-family: Lora, serif;
}

.preformatted {
  @extend .mono;
  white-space: pre;
}

a {
  color: initial;
}
