    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="author" content="Frazer Seymour">
    <meta name="description" content="A collection of lyrics and chords.">

    <link rel="manifest" href="{{ baseurl }}/site.webmanifest">
    <link rel="apple-touch-icon" href="{{ baseurl }}/favicon.png">
    <link rel="icon" type="image/png" href="{{ baseurl }}/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ baseurl }}/favicon-16x16.png" sizes="16x16" />

    <link rel="stylesheet" href="{{ baseurl }}/css/main.css">
